*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}
.w-4{
    width: 20%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100px;
    height: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 45px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }